* {
  box-sizing: border-box;
  font-family: 'Vazirmatn', sans-serif;
}

body {
  margin: 0;
  background: #FFF1F5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  background: #ffffff;
  padding: 30px;
  width: 90%;
  max-width: 420px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

h1 {
  font-size: 1.3rem;
  color: #2D2D2D;
  margin-bottom: 20px;
}

.scene-image {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.yes {
  background: #FF6F91;
  color: white;
}

.no {
  background: #FFC75F;
  color: #2D2D2D;
}
